In [1]:
import geopandas as gpd
import pandas as pd
import folium
import matplotlib.pyplot as plt
from shapely.geometry import Point

In [2]:
Strat_Series_file = '/home/kristiaan/gempy/test/input_data/gempy_interfaces.csv'
crs={'init': 'epsg:32631'}
strat_series_colors= {'Unit1': '#3388ff', 'Unit2': '#ff00ff', 'Unit3': '#ff0000', 'Unit4': '#0000ff'}

In [3]:
#read csv file with pandas dataframe
Strat_Series_df = pd.read_csv(Strat_Series_file)
Strat_Series_df.head()

,X,Y,Z,formation,series,formation number
0,614128.224680,2.474470e+06,387.0,Unit3,Default series,3
1,614153.243246,2.475129e+06,498.0,Unit3,Default series,3
2,614374.236620,2.475694e+06,558.0,Unit3,Default series,3
3,614679.961598,2.476173e+06,560.0,Unit3,Default series,3
4,614928.326563,2.476785e+06,511.0,Unit3,Default series,3

In [4]:
gs= gpd.GeoSeries(Strat_Series_df.apply(lambda row: Point(row['X'], row['Y'], row['Z']),1),crs=crs)
Strat_Series_gdf= gpd.GeoDataFrame(Strat_Series_df, geometry=gs)
Strat_Series_gdf.to_crs(epsg=4326, inplace=True) #inplace overwrites and updates file
Strat_Series_gdf.head()

,X,Y,Z,formation,series,formation number,geometry
0,614128.224680,2.474470e+06,387.0,Unit3,Default series,3,POINT Z (4.108538739906882 22.37241970204658 387)
1,614153.243246,2.475129e+06,498.0,Unit3,Default series,3,POINT Z (4.108828882459814 22.37837223534472 498)
2,614374.236620,2.475694e+06,558.0,Unit3,Default series,3,POINT Z (4.111015697136676 22.38345857653841 558)
3,614679.961598,2.476173e+06,560.0,Unit3,Default series,3,POINT Z (4.114019475337598 22.38776268396345 560)
4,614928.326563,2.476785e+06,511.0,Unit3,Default series,3,POINT Z (4.116475936408888 22.39327735263431 511)

In [5]:
MyMap=folium.Map(location=[22.371, 4.115],tiles="openstreetmap", zoom_start=10,control_scale=True)
MyMap

for idx, row in Strat_Series_gdf.iterrows():
    print(row['geometry'])
    current_point= row['geometry']
    print (current_point.x, current_point.y)

In [6]:
strat_series_colors['Unit2']

'#ff00ff'

In [10]:
for idx, row in Strat_Series_gdf.iterrows():
    #print(row['geometry'])
    current_point= row['geometry']
    #print (current_point.x, current_point.y)
    folium.Circle([current_point.y, current_point.x],radius=100, color=strat_series_colors[row['formation']], fill=True).add_to(MyMap)   
MyMap

TypeError: __init__() got an unexpected keyword argument 'rotationAngle'

In [ ]:
#point=Point(50.45, 3.95) #lat-long
point=Point(3.95, 50.45) #long-lat
point.xy

In [ ]:
# The last two is the same
list(point.xy[0])[0]
[list(point.xy)[i][0] for i in range(len(point.xy))]
[point.xy[i].tolist()[0] for i in range(len(point.xy))]

In [ ]:
m=folium.Map(location=[50.4,3.9], tiles="openstreetmap", zoom_start=10) #lat-long
folium.Marker([point.y,point.x]).add_to(m)
m

In [ ]:
import pyproj as proj
crs_wgs = proj.Proj(init='epsg:4326')
crs_lb72 = proj.Proj(init='epsg:31370') 
x,y=proj.transform(crs_wgs,crs_lb72,point.x, point.y, radians=False)
print(x)
print(y)

In [ ]:
print(proj.transform(crs_lb72,crs_wgs,x,y, radians=False)) #check the reverse tranformation

In [ ]:
x2,y2=proj.transform(crs_lb72,crs_wgs,x,y, radians=False)
point2=Point(y2, x2)
folium.Marker([point2.y,point2.x]).add_to(m)
m

# List of points

In [ ]:
import pandas as pd
df = pd.DataFrame(
    {'Latitude': [51,52,53,34],
     'Longitude': [4,5,6,16]})

In [ ]:
df['Coordinates'] = list(zip(df.Longitude, df.Latitude))

In [ ]:
df['Coordinates'].apply(Point)

In [ ]:
newmap=folium.Map(location=[50,4], tiles="openstreetmap",zoom_start=6) #lat-long

xx=[list(reversed(df.Coordinates[i])) for i in range(df.Coordinates.count())] # reverse lat-long
[folium.Marker(xx[e]).add_to(newmap) for e in range(len(xx))]

In [ ]:
newmap

In [ ]:
import  selenium
from selenium import webdriver
import time
import os

def to_png(m, filename):
    
    m.save("tmp_map.html")
    tmpurl = "file://{path}/tmp_map.html".format(path=os.getcwd())
    driver = selenium.webdriver.Firefox()
    
    driver.get(tmpurl)
    time.sleep(10)
    driver.save_screenshot(filename)
    driver.quit()

In [ ]:
to_png(m, "test.png")